*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(207, 207, 207);
}
ul{
    display: inline;
    list-style: none;
}

.navbar {
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 6vh;
    background-color: rgb(150, 166, 150);
    padding-left: 10px;
    padding-right: 10px;
}
.navbar button {
    margin-top: 5px;
    margin-bottom: 5px;

    height: 40px;
    width: 40px;   

    background-color: transparent;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
.navbar button:hover {
    background-color: rgb(207, 207, 207);
}
.navbar > a {
    margin: 10px 0px 15px 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: black;
}

#month-header {
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

#today-info {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

@media (min-width: 870px){

    #calendar {
        width: 100%;
        height: 100%;
    }
    #calendar th {
        padding-left: 50px;
        padding-right: 50px;
    }
    #calendar > thead th {
        padding-top: 10px;
    }
    #calendar > thead tr {
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        color: darkslategray;
    }
    #calendar > tbody th {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    #calendar > tbody tr {
        background-color: white;
        padding-top: 20px;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        color: darkslategray;
    }

    .bottom_panel {
        display: flex;
        justify-content: space-between;
        margin: 15px;
        padding: 20px;
    }
    .bottom_panel div {
        width: 47.5%;
        height: 350px;
        border-radius: 10px;
        background-color: rgb(150, 166, 150);
    }
    .bottom_panel button {
        background-color: rgb(150, 166, 150);
    }
    .bottom_panel > div > p {
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
        font-weight: 200;
        margin: 15px 0px 0px 25px;
    }
    .bottom_panel > div > div {
        width: 90%;
        height: 275px;
        border-radius: 10px;
        background-color: rgb(98, 110, 98);
        margin: 15px 0px 0px 21px;
    }
    .bottom_panel p {
        color: white;
        letter-spacing: 0.6vh;
    }

    #new_events {
        padding: 6px;
        text-align: center;


        font-size: 28px;
        font-weight: bold;
        font-family: 'Rubik', sans-serif;
        color: white;

        height: 60px;
        width: 60px;
        border-radius: 30px;
        border: none;
    }
    #new_events:hover {
        background-color: rgb(131, 145, 131);
    }
}